OUTPUT.json
R0_sensitivity_analysis/Network_*_Node/
R0_sensitivity_analysis/summarised_sims*/
US_States/*/ # Ignore all subdirectories under US_States
!US_States/*.* # But keep any files inside US_States
US_States/*/**
R_scripts/.RData*
.python-version
.pytest_cache
__pycache__/
*.pyc
*.swp
*.xml
.Rproj.user
.vscode/
**/input.json
.idea/

data/BRFSS/
data/NSCH/
data/private_input_data/

R_scripts/.RDataTmp
R_scripts/.Rhistory
